*{
    font-family: "Rimouski";
}

body{
    margin: 0;
	padding: 0;
}
.wrapper{
    width: 100%;
	height: 100vh;
}

.overlay{
	width: 100%;
	height: 100vh;
	background: url(../img/pexels.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	filter: blur(3px);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
}

.filter-overlay{
	width:100vw;
	height: 100vh;
	background: rgba(189,189,189,1.00);
	opacity: 0.5;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}

.container{
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;
}

.notification{
    background-color: #f8d7da;
    display: none;
}

.notification p{
    color: #721c24;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weather-container{
    width: 100%;
    height: auto;
	margin: auto;
}

.weather-icon{
    width: 300px;
    height: 128px;
	margin: auto;
}

.weather-icon img{
    display: block;
    margin: 0 auto;
}

.center{
	text-align: center;
}

.temperature-value{
    width: 300px;
    height:60px;
	margin: auto;
}

.temperature-value p{
    padding: 0;
    margin: 0;
    color: black;
    font-size: 4em;
    text-align: center;
    cursor: pointer;
}

.temperature-value p:hover{
    
}

.temperature-value span{
    color: black;
    font-size: 0.5em;
}

.temperature-description p{
    padding: 8px;
    margin-bottom: 4%;
    color: #343434;
    text-align: center;
    font-size: 1.2em;
}

.location p{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 2.5vw;
}

.date{
	margin-top: -10px;
}

.date p{
    color: #343434;
    text-align: center;
    font-size: 1em;
}

.forecast-overall-container{
	width: 100%;
    display: flex;
    place-content: center;
}

.forecast-container{
	float: left;
	margin-right: 1%;
}

.weather-forecast-icons{
	margin-left: 7.5%;
    width: 85%;
    height: auto;
}

.search-box{
	position: relative;
  	padding: 15px 40px 15px 20px;
 	width: 300px;
  	color: #525252;
  	font-size: 16px;
  	font-weight: 100;
 	letter-spacing: 2px;
 	border: none;
 	border-radius: 5px;
	left: 50%;
    transform: translateX(-50%);
    margin: 3% 0 3% 0;
    background: linear-gradient(to right, #FFFFFF 0%,#464747 #F9F9F9 100%);
  	transition: width 0.4s ease;
  	outline: none;
}

i{
  	left: 57.4%;
    bottom: 88.6%;
    color: #8233C5;
}

.glass{
	font-size: 50px;
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 0.1em solid black;
    position: absolute;
    border-radius: 25px;
}

.glass::before{
 	content: "";
    display: inline-block;
    position: absolute;
    right: -78%;
    bottom: -45%;
    border-width: 0;
    background: black;
    width: 13px;
    height: 4px;
    transform: rotate(45deg);
}

.glass:hover{
	cursor: pointer;
}

.weather-icon-one{
	width: 100%;
    height: 12vh;
}

.weather-icon-two{
	width: 100%;
    height: 12vh;
}

.weather-icon-three{
	width: 100%;
    height: 12vh;
}

.weather-icon-four{
	width: 100%;
    height: 12vh;
}

.weather-icon-five{
	width: 100%;
    height: 12vh;
}

.temperature-value-forecast-styling{
	font-size: 1.4vw;
}

.forecast-container p{
	margin: 5% 0 5% 0;
}

.temperature-description-forecast-styling{
	font-size: 1vw;
	color: #343434;
}

.days-styling{
	font-style: italic;
	font-size: 0.9vw;
	color: #343434;
}
